@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'Agua';
    src: url('/fontes/Agua\ de\ Jamaica.ttf') format('truetype');
    font-weight: normal;
}

:root{
     --cor0:#0090DB;
     --cor1:#0006DB;
     --cor2:#004BDB;
     --cor3:#35D7DB;
     --cor4:#4401DC;
     --cor5:#8AA6DB;

     --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
     --fonte-destaque: "Bebas Neue", sans-serif;
     --fonte-oceano: 'Agua', sans-serif;
}

body{
    background-color: var(--cor5);
    font-family:var(--fonte-padrão);
}

header{
    background-image: linear-gradient(var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    font-family: var(--fonte-destaque);
    color: white;
}

header h1{
    padding-bottom: 15px;
}

header p{
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 15px;
}

nav{
    background-color:var(--cor4) ;
    padding: 10px;
    box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.255)

}

nav a{
    text-decoration: none;
    color: var(--cor3);
    padding-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

*{
    margin: 0px;
    padding: 0px;
}
