@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');


:root{
     --cor0:#0090DB;
     --cor1:#0006DB;
     --cor2:#004BDB;
     --cor3:#35D7DB;
     --cor4:#4401DC;
     --cor5:#8AA6DB;

     --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
     --fonte-destaque: "Bebas Neue", sans-serif;
     --fonte-oceano: "Waterfall", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor5);
    font-family:var(--fonte-padrão);
}

header{
    background-image: linear-gradient(var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    font-family: var(--fonte-destaque);
    color: white;
}

header h1{
    padding-bottom: 15px;
}

header p{
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 15px;
}

nav{
    background-color:var(--cor4) ;
    padding: 10px;
    box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.255)

}

nav a{
    text-decoration: none;
    color: var(--cor3);
    padding-right: 10px;
    font-family: var(--fonte-destaque);
}

nav > a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2{
    font-family: var(--fonte-oceano);
    padding-bottom: 10px;
}

main h3{
    font-family: var(--fonte-destaque);
}

main p{
    font-size: 1em;
    line-height: 30px;
    margin-bottom: 10px;
}

main img{
    margin-bottom: 10px;
}
