@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:"Agua";
    src: url(/fontes/Agua\ de\ Jamaica.ttf) format(truetype);
    font-weight: normal;
}

:root{
     --cor0:#0090DB;
     --cor1:#0006DB;
     --cor2:#004BDB;
     --cor3:#35D7DB;
     --cor4:#4401DC;
     --cor5:#8AA6DB;

     --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
     --fonte-destaque: "Bebas Neue", sans-serif;
     --fonte-oceano: "Agua", sans-serif;
}

body{
    background-color: var(--cor5);
    font-family:var(--fonte-oceano);
}

header{
    background-image: linear-gradient(var(--cor5), var(--cor2));
}

*{
    margin: 0px;
    padding: 0px;
}
